@font-face{
	font-family:'myfont';
	src:url('V100020.TTF');
	font-weight:bolder;
	font-style:normal;
}
body{
	color: #F00;
	font-family: 'myfont';
	background:url('delect.png');
	height: 100px;
	width: 100%;
}